<div class="container-fluid">
  <div class="row">
    <div class="jumbotron text-center col-xs-6 col-xs-offset-3">
      <h3>Users:</h3>
      <ul class="list-unstyled">
        <li ng-repeat="user in users">
          <div class="row">
            <span class="col-xs-4 col-xs-offset-3">{{user.Last}}, {{user.First}}</span>
            <span class="col-xs-1"><a ng-click="removeUser(user.ID)">&times;</a></span>
          </div>
          <div class="row">
          <ul class="list-unstyled col-xs-4 col-xs-offset-4">
            <li>Sex: {{user.Sex}}</li>
            <li>Age: {{user.Age}}</li>
            <li>Title: {{user.Sex}}</li>
            <li>ID: {{user.ID}}</li>
          </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xs-3">
      <div class="row">
        <button class="btn btn-default">Add User</button>
      </div>
      <div class="row">
        <button class="btn btn-default">Update User Info</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" ng-show="editToggle && ! addToggle">
      <!-- edit user block here-->
    </div>
    <div class="col-xs-12" ng-show="!editToggle && addToggle">
      <!-- add user block here-->
    </div>

  </div>
</div>
