<div class="container">


  <div class="jumbotron text-center">
    <div class="row">
      <h3>Find Top Tracks</h3>
      <form ng-submit="search()">
        <label>Enter Artist: <input type="text" ng-model="artist"/></label>

      </form>
    </div>

    <div class="row">
      <div class="col-xs-12 text-left">
        <h4 ng-if="artistCorrect.length">Top Songs by: {{artistCorrect}}</h4>
        <hr ng-if="artistCorrect.length"/>
        <ul class="row list-unstyled text-center">
          <li ng-repeat="song in topTracks track by $index">{{song.name}} <img ng-src="{{song.image[0]['#text']}}"/>
            <ul class="list-unstyled"><li><a ng-click="searchPurchase(artistCorrect, song.name, country)">Buy <country-select ng-model="country"></country-select></a></li></ul>
            <div class="row"><p>Get the Disk:</p>
              <ul class="list-unstyled text-right">
                  <li ng-repeat="sale in physicalSellers"><a ng-href="{{sale.buyLink}}" ><img ng-src="{{sale.supplierIcon}}"/></a></li>
              </ul>
              <p>Download:</p>
              <ul class="list-unstyled text-right">
                <li ng-repeat="sale in downloadSellers"><a ng-href="{{sale.buyLink}}" ><img ng-src="{{sale.supplierIcon}}"/></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
